@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* 1. Register the UFC fonts */
@font-face {
  font-family: "UFCSansCondensedBold";
  src: url("/fonts/UFCSans-CondensedBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UFCSansRegular";
  src: url("/fonts/UFCSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UFCSansMedium";
  src: url("/fonts/UFCSans-CondensedMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 2. Set body + headings to use them */
/* All body text */
body {
  font-family: "UFCSansCondensedBold", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif !important;
}

/* All headings */
h1,
h2 {
  font-family: "UFCSansCondensedBold", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif !important;
}

h3,
h4,
h5,
h6,
p,
button,
a {
  font-family: "UFCSansMedium", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif !important;
  letter-spacing: 1px !important;
}

p.UFCSansRegular {
  font-family: "UFCSansRegular", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif !important;
  letter-spacing: 1px !important;
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes ufcScaleUp {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes ufcShake {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-6px, -4px) rotate(-1deg);
  }
  20% {
    transform: translate(5px, 6px) rotate(1deg);
  }
  30% {
    transform: translate(-5px, 3px) rotate(-1deg);
  }
  40% {
    transform: translate(4px, -5px) rotate(1deg);
  }
  50% {
    transform: translate(-2px, 2px) rotate(0deg);
  }
  60% {
    transform: translate(6px, -3px) rotate(1deg);
  }
  70% {
    transform: translate(-6px, 4px) rotate(-1deg);
  }
  80% {
    transform: translate(4px, -2px) rotate(1deg);
  }
  90% {
    transform: translate(-4px, 3px) rotate(0deg);
  }
}

.ufc-intro-container {
  animation: ufcScaleUp 2s ease-out forwards,
    ufcShake 0.6s ease-in-out 2s infinite;
  transform-origin: center;
}
